// Create grayscale
$gray-dark: #292b2c;
$gray: #464a4c;
$gray-light: #636c72;
$gray-lighter: #eceeef;
$gray-lightest: #f7f7f9;

$turquoise: #11AEBB ;

$font-size-xs: .75rem ;

$enable-rounded:            false;




$font-family-base: Lato, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

.beta { color: color("purple"); }
